@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:300&display=swap');


body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Rubik', sans-serif;


}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #646F6F;
    font-family: 'Old Standard TT', serif;
}

h1{
    text-align: center;
    font-size: 7rem;
    margin: 0;
}

nav{
    display: flex;
    justify-content: flex-end;
    padding-right: 5rem;
    background:#87AAB9;
    color: white;
    text-align: end;

} 

ol:hover{
    color: #F9F3C5;

}

.search-bar-container{
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    margin: 0;
}

#text-search{
    width: 35rem;
    height: 3rem;
    text-align: center;
}

#search-button{
    width: 5rem;
}
#search-button:hover{
    background: #F9F3C5;
} 

.card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.article-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* align-content: center; */
    justify-content: space-between;
    background: #87AAB9;
    color: white;
    width: 30rem;
    /* height: 30rem; */
    margin: 1rem;
    /* border: solid black 1px; */
    overflow: auto;
    border-radius: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.article-title {
    font-family: 'Old Standard TT', serif;
    color:#303333;
}


img {
    align-self: center;
    width: 20rem;
    height: 15rem;
    margin: 1rem;
    border: solid black 1px;
}

.save-article {
    width: 8rem;
    align-self: center;
}

.save-article:hover{
    background:#F9F3C5;
}

a {
    text-decoration: none;
    color: #4876ffe0;
    margin-bottom: 2px;
    position: bottom;
}

a:hover {
    font-weight: bold;
}

h3, h4 {
    font-size: 15px;
}

p {
    font-size: 10px;
}

